IMAGE_REPO=ghcr.io/wilsonwu/run-gemma-4
IMAGE_TAG=latest
IMAGE_PLATFORM=linux/amd64
HOST_PORT=8080

MODEL_PREPARE_MODE=init
MODEL_ALIAS=gemma-4-e2b-it-q4km-local
MODEL_PATH=/models/gemma-4-E2B-it-Q4_K_M.gguf
MODEL_URL=https://www.modelscope.cn/models/lmstudio-community/gemma-4-E2B-it-GGUF/resolve/master/gemma-4-E2B-it-Q4_K_M.gguf
MODEL_SHA256=406607e5fffbfaea5f7ce78cfc02ef8e8c4eb8618e365b6f6da441c04e4d6066

CONTEXT_SIZE=8192
BATCH_SIZE=256
LLAMA_THREADS=8

HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1,::1,host.docker.internal
